DS/LeastRecentlyUsedCache/obj/Debug/net9.0/LeastRecentlyUsedCache.AssemblyInfo.cs
DS/LeastRecentlyUsedCache/obj/Debug/net9.0/LeastRecentlyUsedCache.AssemblyInfoInputs.cache
DS/LeastRecentlyUsedCache/obj/Debug/net9.0/LeastRecentlyUsedCache.assets.cache
DS/LeastRecentlyUsedCache/obj/Debug/net9.0/LeastRecentlyUsedCache.GeneratedMSBuildEditorConfig.editorconfig
DS/LeastRecentlyUsedCache/obj/LeastRecentlyUsedCache.csproj.nuget.dgspec.json
DS/LeastRecentlyUsedCache/obj/LeastRecentlyUsedCache.csproj.nuget.g.props
DS/LeastRecentlyUsedCache/obj/project.assets.json
DS/LeastRecentlyUsedCache/obj/project.nuget.cache
DS/LeastRecentlyUsedCache/obj/Debug/net9.0/LeastRecentlyUsedCache.AssemblyInfo.cs
DS/LeastRecentlyUsedCache/obj/Debug/net9.0/LeastRecentlyUsedCache.AssemblyInfoInputs.cache
DS/LeastRecentlyUsedCache/obj/Debug/net9.0/LeastRecentlyUsedCache.assets.cache
DS/LeastRecentlyUsedCache/obj/Debug/net9.0/LeastRecentlyUsedCache.GeneratedMSBuildEditorConfig.editorconfig
DS/LeastRecentlyUsedCache/obj/LeastRecentlyUsedCache.csproj.nuget.dgspec.json
DS/LeastRecentlyUsedCache/obj/LeastRecentlyUsedCache.csproj.nuget.g.props
DS/LeastRecentlyUsedCache/obj/project.assets.json
DS/LeastRecentlyUsedCache/obj/project.nuget.cache
